// font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
// ./font
body {
  font-family: 'Open Sans', sans-serif;
}
// navigation
li.nav-item {
  padding: 20px;
  border-left: 1px solid #000;
}

.wrap-hamburger {
  display: flex;
  margin-top: 5px;
  padding: 20px;
  border-left: 1px solid #000;
}

.label-menu {
  margin-top: 5px;
}

#menuToggle {
  display: block;
  z-index: 10!important;
  position: relative;
  top: 10px;
  left: 10px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background: #000;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-6px, -15px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 9px);
}

#menu {
  position: fixed;
  overflow: scroll;
  z-index: 9;
  width: 300px;
  top: 0;
  right: 0;
  padding: 20px;
  background: #018496;
  list-style-type: none;
  display: none;
  height: 100%;
  &.toggled {
    display: block;
  }
  .col-12 {
    list-style: none;
    li {
      a {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  color: #fff;
}


#menuToggle input:checked ~ ul {
  transform: none;
}

// ./navigation

// index page
.home-banner {
  background: url("../images/index/home_banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 200px 0;
  display: flex;
  align-items: center;
  h1 {
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 90px;
  }
  .description {
    color: #ffffff;
    padding: 40px;
    background: rgba(0,132,149, .5);
  }
}
.news-block, .advantages-block {
  .container {
    .row {
      .title_news, .title_advantages {
        margin: 20px 0;
        padding: 10px 15px;
        background-color: #7a7a7a;
        position: relative;
        &:after {
          content: '';
          background-color: #7a7a7a;
          position: absolute;
          width: 5px;
          margin-left: 5px;
          height: 100%;
          right: -10px;
          top: 0;
        }
        h4 {
          color: #fff;
          margin: 0;
          font-size: 24px;
        }
      }
      .article {
        border-right: 1px solid #e5e5e5;
        &:last-child {
          border-right: none;
        }
        .date {
          color: #008495;
          font-size: 18px;
        }
        h5 {
          color: #008495;
          font-size: 18px;
        }
        p {
          color: #333333;
          font-size: 14px;
        }
        .read_more {
          padding: 10px 15px;
          background: #008495;
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
.advantages-block {
  margin-top: 20px;
  .container {
    .row {
      .col-xs-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
      }
      .article-advantage {
        .image_advantage {
          img {
            width: 100%;
          }
        }
        .text-block {
          height: 380px;
          border-bottom: 3px solid #008495 !important;
          h5 {
            color: #008495;
            word-break: break-all;
            font-size: 16px;
          }
          p {
            color: #333333;
            font-size: 14px;
          }
        }
      }
    }
  }
}
.info-block {
  margin-top: 20px;
  .container {
    .row {
      .col-12 {
        .col-8, .col-4 {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          img {

          }
          p {
            color: #008495;
            font-size: 18px;
            margin: 0;
            padding-left: 10px;
          }
        }
      }
    }
  }
}
// ./index page

// breadcrumb
.breadcrumb-section {
  border-top: 1px solid;
  .breadcrumb-custom {
    padding: 7px;
    background-color: #008495;
    margin-bottom: 0;
    .container {
      .breadcrumb-item {
        a {
          color: #008495;
        }
      }
    }
  }
}

// ./breadcrumb
// slider img
.slider-img {
  background: url("../images/slider.png");
  background-position: center;
  background-size: cover;

  .container-slider {
    padding: 60px 0;

    h1 {
      margin-bottom: 60px;
    }

    h1, p {
      color: #fff;
    }
  }
}

// ./slider img
// articles
.section-articles, .about-us {
  .row {
    .article {
      h5 {
        color: #008495;
      }

      p {
        color: #6C6C6C;
      }
    }
  }
}

// ./articles
// cooparation
.section-cooperation, .how-do-we-work-block {
  .container {
    h3 {
      color: #008495;
      margin-bottom: 60px;
    }

    .cooperation-step-by-step {
      list-style: none;
      padding: 0;
      .desc-block {
        width: 17%;
        font-size: 14px;
      }
      .desc-block {
        margin-left: 50px;
        line-height: 1.4;
        height: 170px;
        vertical-align: text-bottom;
        display: flex;
        align-items: center;
        &:nth-child(6) {
          margin-left: 0;
        }
        &:last-child {
          width: 22%;
        }
      }
      .arrow-block {
        position: relative;
        height: 170px;
        background-color: #008495;
        display: flex;
        align-items: center;
        zoom: 1;
        padding: 10px 10px 10px 35px;
        color: white;
        font-size: 16px;
        text-align: center;
        margin-bottom: 25px;
        width: 215px;
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 85px solid transparent;
          border-left: 30px solid #008495;
          border-bottom: 85px solid transparent;
          right: -30px;
          top: 0;
        }
        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 0;
          border-top: 85px solid transparent;
          border-left: 30px solid white;
          border-bottom: 85px solid transparent;
        }
      }
      .arrow-block {
        .arrow {
          background: #008495;
        }

        .description {
        }
      }
    }
  }
}
// ./cooparation
// section-advantages
.section-advantages {
  margin-top: 25px;
  .container {
    .row {
      .advantages-text-block {
        h4 {
          color: #008495;
        }
        p {

        }
      }
    }
  }
}
// ./section-advantages
// section-footer
.section-footer {
  background-color: #eeeeee;
  margin-top: 30px;
  .container-fluid {
    .footer-menu {
      padding: 50px 0;
    }
    .row {
      .col-md-2, .col-md-3 {
        .footer-link-menu {
          color: #008495;
          display: block;
        }
      }
    }
    .block-right-reserved {
      padding: 15px 0;
      border-top: 1px solid #505050;
      .container {
        .row {
          .row {
            .block-pay {
              img {
                margin-right: 20px;
                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
// ./section-footer

// look at market
.main_banner {
  &.look_at_market {
    background: url("../images/look_market/main_banner.png");
    background-position: center;
    background-size: cover;
  }
  &.market_research {
    background: url("../images/market_research/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }
  &.news {
    background: url("../images/news/main_banner.png") center;
    background-position: center;
    background-size: 100% 100%;
    .container-slider {
      padding: 85px 0;
    }
    .row {
      align-items: center;
    }
  }
  &.news-article-block {
    background: url("../images/news_article/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.ipo-explanation {
    background: url("../images/ipo_explatation/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.business_consulting {
    background: url("../images/investing/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.investing {
    background: url("../images/main_invest/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.invest_ipo {
    background: url("../images/invest_ipo/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.invest_and_consult {
    background: url("../images/invest_and_consult/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.portfolio_banner {
    background: url("../images/portfolio/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.trusts_charity {
    background: url("../images/trusts_charity/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.vacancies {
    background: url("../images/vacancies/main_banner.png") center;
    background-position: center;
    background-size: cover;

    .container-slider {
      padding: 85px 0;
    }
  }

  &.carrier {
    background: url("../images/carrier/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.growth {
    background: url("../images/growth/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.privacy-policy {
    background: url("../images/about_us/main_banner.png") center;
    background-position: center;
    background-size: cover;

    .container-slider {
      padding: 85px 0;
    }
  }

  &.how-do-we-work {
    background: url("../images/how_do_we_work/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.our-team {
    background: url("../images/our_team/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.our-goal {
    background: url("../images/our_goal/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }

  &.about-us {
    background: url("../images/about_us_2/main_banner.png") center;
    background-position: center;
    background-size: cover;
  }


  .container-slider {
    padding: 60px 0;

    h1 {
      margin-bottom: 60px;
    }

    h1, p {
      color: #fff;
    }
  }
}
.services-block, .invest_and_consult-block, .investing-block, .carrier-block {
  .row {
    .col-12 {
      &:nth-child(odd) {
        border-right: 2px solid #bdbdbd;
      }
      .row {
        h5 {
          color: #008495;
          height: 50px;
        }
      }
    }
  }
}
// news
.news-container {
  .row {
    .nav-prev, .nav-separator, .nav-next {
      color: #008495;
    }
  }
  .news-block {
    .news-item {
      .row {
        img {
          width: 100%;
        }
        p.date  {
          color: #008495;
          font-size: 18px;
          margin: 20px 0 0 0;
        }
        h5 {
          color: #008495;
          font-size: 18px;
        }
        p  {
          font-size: 14px;
          color: #333333;
        }
        .read-more {
          padding: 10px 15px;
          background: #008495;
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    .load-more-block {
      .load-more {
        padding: 5px 0;
        background-color: #d6d6d6;
        width: 300px;
        text-align: center;
        color: #000;
      }
    }
  }
}
// ./news

// news article
.news-article-block {
  .navigation-block {
    .article-navigation {
      padding: 5px 0;
      background-color: #d6d6d6;
      width: 300px;
      text-align: center;
      color: #000;
      .nav-prev, .nav-separator, .nav-next {
        color: #000;
      }
    }
  }
}
// ./news article
// ipo explanation
.ipo-explanation-block {
  .row {
    h4 {
      font-size: 18px;
      color: #008495;
    }
    ul {
      padding-left: 10px;
      li {
        list-style-type: '>';
        padding-left: 5px;
        font-size: 14px;
        color: #333333;
      }
    }
    .five-step-for-ipo {
      width: 100%;
      background-color: #008495;
      padding: 15px;
      margin-top: 10px;
      margin-bottom: 25px;
      h3 {
        color: #fff;
        margin: 0;
        font-size: 18px;
      }
      p {
        font-size: 14px;
        color: #333333;
      }
    }
    .group-invest {
      &.card-block {
        box-shadow: 2px 2px 5px 2px rgba(204,204,204,1);
      }
      .card-company {
        h5 {
          color: #008495;
          font-size: 18px;
          margin-top: 10px;
        }
        .desc-company {
          font-size: 13px;
          color: #333333;
        }
        .row {
          padding-top: 20px;
          .col-8, .col-4, .col-7, .col-5 {
            color: #666666;
            font-size: 10px;
          }
        }
        .percent-up {
          font-size: 18px;
          color: #008495;
        }
      }
    }
  }
}
// ./ipo explanation
// business_consulting
.business_consulting-block, .invest_ipo-block, .our-goal-block {
  .row {
    .col-12 {
      border-right: 1px solid #bdbdbd;
      &:last-child {
        border-right: none;
      }
      .row {
        h5 {
          color: #008495;
          height: 50px;
        }
      }
    }
  }
}
// ./business_consulting
// investment and consulting
.investing-block {
  .work-for-result-block {
    background: url("../images/main_invest/work_for_result.png");
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    background-position: center center;
    .text-block {
      padding-left: 20px;
      h5 {
        color: #008495;
      }
    }
  }
}
// ./investment and consulting
// ipo investing
.invest_ipo-block, .our-goal-block {
  .row {
    > h5 {
      color: #008495;
    }
    > p {
      color: #333333;
      font-size: 14px;
    }
    .font-biggest {
      font-size: 18px;
    }
    .font-smaller {
      font-size: 14px;
    }
    .list-advantages {
      padding-left: 20px;
      li {
        font-size: 14px;
      }
    }
  }
}
// ./ipo investing
// portfolio
.portfolio-block {
  margin-top: 50px;
  .row {
    h5 {
      font-size: 18px;
      color: #008495;
    }
    p {
      font-size: 14px;
      color: #333333;
    }
    .list-portfolio {
      padding-left: 20px;
      li {
        font-size: 14px;
        color: #333333;
      }
    }
  }
}
// ./portfolio
// trust and charity & growth
.trusts-charity-block, .growth-block {
  margin-top: 50px;
  .row {
    h5 {
      color: #008495;
      font-size: 18px;
    }
    .list-trust-charity {
      padding-left: 20px;
      li {
        list-style-type: '-';
        padding-left: 5px;
        font-size: 14px;
        color: #333333;
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    p {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
// ./trust and charity & growth
// vacancies
.vacancies-block {
  .row {
    .col-12 {
      .card-vacancies {
        box-shadow: 2px 2px 5px 2px rgba(204,204,204,1);
        padding: 15px;
        margin-top: 25px;
        height: 210px;
        h5 {
          color: #008495;
          font-size: 18px;
        }
        .respos {
          color: #666666;
          font-size: 14px;
        }
        .list-responsibilities {
          padding-left: 20px;
          li {
            list-style-type: '>';
            padding-left: 5px;
            color: #333333;
            font-size: 14px;
          }
        }
      }
      &:nth-child(odd) {
        padding-left: 0;
      }
      &:nth-child(even) {
        padding-right: 0;
      }
    }
  }
}
// ./vacancies
// contacts
.contacts-block {
  background-color: #efefef;
  padding: 20px 50px 0 50px;
  .row {
    h1 {
      font-size: 18px;
      color: #008495;
    }
    p {
      font-size: 14px;
      color: #333333;
    }
    .col-12 {
      margin-top: 20px;
      #contact_us {
        .form-row {
          .form-group {
            margin: 0;
          }
        }
        > .form-group {
          margin-top: 50px;
        }
        .form-group {
          .form-control {
            border-radius: 0;
          }
        }
        .btn-submit {
          background-color: #008495;
          padding: 10px 40px;
          color: #fff;
          border-radius: 0;
          border: 2px solid #008495;
          &:hover {
            background-color: transparent;
            color: #008495;
          }
        }
      }
    }
  }
}
.address-block {
  margin-top: 30px;
  .row {
    .col-12 {
      h5 {
        color: #008495;
        font-size: 18px;
      }
      p.text-grey {
        color: #666666;
        font-size: 14px;
        margin: 0;
      }
      p {
        font-size: 18px;
        color: #333333;
        text-align: center;
      }
      a {
        color: #333333;
        font-size: 18px;
      }
    }
  }
}
// ./contacts
// privacy policy
.privacy-policy-block {
  margin-top: 20px;
  .row {
    p {
      font-size: 14px;
      color: #333333;
    }
    .sub-text {
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 16px;
      }
    }
  }
}
// ./privacy policy
// our team
.our-team-block {
  .row {
    margin-top: 10px;
    .col-12 {
      margin-top: 20px;
      .card-team {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 15px;
        background-color: #aedcf2;
        height: 145px;
        .fullname {
          color: #008495;
          font-size: 20px;
        }
        .position {
          margin-bottom: 0;
          text-align: center;
          font-size: 16px;
          color: #333333;
        }
        .sub-position {
          font-size: 16px;
          color: #7c7c7c;
        }
      }
    }
  }
}
// ./our team
// about us
.about-us {
  .col-12 {
    .row {
      margin-top: 20px;
      .col-12 {
        .link-item-about-us {
          box-shadow: 2px 2px 5px 2px rgba(204,204,204,1);
          display: block;
          padding: 20px;
          img {
            display: flex;
          }
          p {
            text-align: center;
            margin-top: 15px;
            font-size: 18px;
            color: #008495;
          }
        }
      }
    }
  }
}
// ./about us