// navigation
li.nav-item {
  padding: 20px;
  border-left: 1px solid #000;
}

.wrap-hamburger {
  display: flex;
  margin-top: 5px;
  padding: 20px;
  border-left: 1px solid #000;
}

.label-menu {
  margin-top: 5px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 10px;
  left: 10px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background: #000;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul {
  transform: none;
}

// ./navigation
// breadcrumb
.breadcrumb-section {
  border-top: 1px solid;

  .breadcrumb-custom {
    padding: 7px;
    background-color: #008495;
    margin-bottom: 0;
  }
}

// ./breadcrumb
// slider img
.slider-img {
  background: url("../images/slider.png");
  background-position: center;
  background-size: cover;

  .container-slider {
    padding: 60px 0;

    h1 {
      margin-bottom: 60px;
    }

    h1, p {
      color: #fff;
    }
  }
}

// ./slider img
// articles
.section-articles {
  .container {
    .row {
      .article {
        h5 {
          color: #008495;
        }

        p {
          color: #6C6C6C;
        }
      }
    }
  }
}

// ./articles
// cooparation
.section-cooperation {
  .container {
    h3 {
      color: #008495;
    }

    position: relative;
    width: auto;
    height: 140px;
    left: 40px;

    .cooperation-step-by-step {
      list-style: none;
      li {
        position: relative;
        text-indent: 30px;
        height: 140px;
        background-color: #008495;
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin-left: 30px;
        padding: 10px 10px 10px 30px;
        color: white;
        font-size: 18px;
        text-align: center;
        line-height: 150px;
      }
      .testStatusGood {
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 70px solid transparent;
          border-left: 30px solid #008495;
          border-bottom: 70px solid transparent;
          margin: -11px 90px 0 10px;
        }
        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 0;
          border-top: 70px solid transparent;
          border-left: 30px solid white;
          border-bottom: 70px solid transparent;
          margin: -11px 0px 0 0px;
        }
      }
      .arrow-block {
        .arrow {
          background: #008495;
        }

        .description {
        }
      }
    }
  }
}

// ./cooparation